.FilterableProductTable {
	/* border: 2px solid rgb(0, 0, 0); */
	width: 300px;
	height: 500px;
	margin: auto;
}

/* .FilterableProductTable-orange {
	border: 2px solid orange; 
} */

.SearchBox {
	/* border: 2px solid black; */
	margin: 10px;
	padding: 5px;
	height: 20%;
	font-size: 20px;
}
/* .SearchBox-blue {
	border: 2px solid blue;
} */

.SearchBoxInput {
	display: block;
	font-size: 20px;
	margin: auto;
	margin-top: 10px;
}
.SearchBoxCheckBox {
	display: block;
	font-size: 20px;
	position: relative;
	left: 10px;
	top: 15px;
}
.SearchBoxLabel {
	position: relative;
	font-size: 16px;
	left: 35px;
	top: -7px;
}

.ProductTable {
	/* border: 2px solid black; */
	margin: 10px;
	padding: 5px;
	height: auto;
	font-size: 20px;
}

.cli {
	/* border: 2px solid turquoise; */
	margin: 5px;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
}

.li {
	/* border: 2px solid red; */
	margin: 5px;
	display: flex;
	padding: 0px;
}

.li-name {
	/* border: none; */
	float: left;
	width: 100px;
}

.li-price {
	/* border: none; */
	float: left;
}

.li-false {
	color: red;
}
